.mui-bar{
	font-family: "微软雅黑"!important;
	background-color: #60a2de!important;
    color: white!important;
}
body{
		font-family: "微软雅黑"!important;
}
html{
	font-family: "微软雅黑"!important;
}
.mui-title{
	 color: white!important;
}
.mui-input-clear{
	font-size: 10px;
	
}
.mui-input-group{
	font-size: 10px;
}
.se{
	font-size: 10px;
}
.mui-navigate-right{
	font-family: "微软雅黑"!important;
	font-size: 10px;
}
p{
	font-family: "微软雅黑"!important;
	font-size: 10px;
}
.anniu{
	font-family: "微软雅黑"!important;
	font-size: 10px;
}
