<!DOCTYPE html>
<html>
 
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
 
		<script type="text/javascript">
		</script>
		<meta charset="UTF-8">
		<title>登录</title>
    <script>
        $(function () {
            $("#upload").click(function () {
                var formData = new FormData();
                formData.append("myfile", document.getElementById("file1").files[0]);   
                $.ajax({
                    url: "/jtct/index.php/Program/Pinfo/p_update_1?program_id=1",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == "true") {
                            alert("上传成功！");
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>   
        选择文件:<input type="file" id="file1" /><br />
        <input type="button" id="upload" value="上传" />
        <img src="" style="display:none" id="imgWait" />   
</body>
</html>
